h1 {
  color: cornflowerblue;
  font-size: 4rem;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  font-size: 2.5rem;
  padding: 10px;
}

input {
  width: 55%;
}

button {
  padding: 30px;
  margin: 20px;
  width: 20%;
}
